:root {
  --body-bg: linear-gradient(135deg, #a6c3f0 0%, #c3cfe2 100%);
  --msger-bg: rgba(155, 169, 213, 0.788);
  --border: 2px solid rgba(164, 171, 195, 0.442);
  --left-msg-bg: #e6e6f850;
  --right-msg-bg: #95bcf3c1;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(100% - 50px);
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.611);
}

.msger-header {
  /* display: flex; */
  font-size: medium;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
  border-bottom: var(--border);
  background: #eee;
  color: rgb(129, 138, 181);
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.left-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=6df8ac25da&attid=0.1&permmsgid=msg-f:1756376599699693975&th=185fe73634e8a197&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-Ir_cqYjiS6-D2b-8KwBrW3SLzfvsy-dsP6VNZmHtGeNLGSs7Lm1hwY6k0pgOjdhTMSF8qXXz4o1uA5fsEO0frAKOqYVaXBnUdEG6NoOhYics1Cqn9L6GuUdA&disp=emb&realattid=72cffffdd7a7a38d_0.1.1");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

 .right-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-image: url("https://image.shutterstock.com/image-vector/man-standing-outline-flat-vector-260nw-493301920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.left-name::before{
    content: "Medically Speaking";
    font-weight: bold;
}

.right-name::before{
    content: "User";
    font-weight: bold;
}

.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: rgb(0, 0, 0);
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: rgba(206, 215, 232, 0.455);
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(168, 174, 226);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(1, 17, 51);
}

.bot-name {
  content: "Medically Speaking";
}

.msger-chat {
  background-color: #aacdf3;
}